<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>Material Dashboard by Creative Tim</title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
  <!-- CSS Files -->
  <link href="../assets/css/material-dashboard.css?v=2.1.1" rel="stylesheet" />
  <!-- CSS Just for demo purpose, don't include it in your project -->
  <link href="../assets/demo/demo.css" rel="stylesheet" />
  <link href="https://api.tiles.mapbox.com/mapbox-gl-js/v0.44.0/mapbox-gl.css" rel="stylesheet">
</head>

<body class="">
  <div id="map" style="margin:0px; height: calc(100vh);"></div>
  <!--  Mapbox Maps Plugin    -->

  <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.51.0/mapbox-gl.js'></script>

  <script>
  mapboxgl.accessToken = 'pk.eyJ1IjoiYXplcnR5dWlvcCIsImEiOiJhdUhTWGl3In0.veSYAl56yGD2bNoM9NGvvQ';
  var map = new mapboxgl.Map({
      container: 'map',
      zoom: 9,
      center: [137.9150899566626, 36.25956997955441],
      style: 'mapbox://styles/mapbox/satellite-v9'
  });
  </script>
</body>

</html>
