<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>TEST</title>
    </head>

            <% expeditions.forEach(function(expedition){ %>
                <li><%= expedition.date %></li>
                <li><%= expedition.duree%></li>
                <li><%= expedition.type%></li>
                <li><%= expedition.butExp%></li>
                <% }); %>

    </body>
</html>
