<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title></title>
   
    </head>
<<<<<<< HEAD
    <body>
        <form method='post' action="/formulaire">
            <label>nom</label>
            <input name=text1 type=text value="" id="poet">
            <br>
            <label> date </label>
            <input name = text3 type=date value=""id="peauette">
            <br>
            <label> durée </label>
            <input name = text2 type=number value="" id="pwet">
            <br>
            <SELECT name="Type" size "1" id="pouet">
            <OPTION>recolte</OPTION>
            <OPTION>exploration</OPTION>
            </SELECT>
            <br>
            <SELECT name="But" size "1"id="paouet">
            <OPTION>Soccuper</OPTION>
            <OPTION>fairedesnoeudssurgit</OPTION>
            </SELECT>
            <br>
            <input type="submit">
        </form>
        
    </body>
</html>

