<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>TEST2</title>
    </head>
    <body>
        <ul>
            <% base.forEach(function(taches){ %>
                <li><%= taches.objectif %></li>
                <% }); %>
        </ul>
    </body>
</html>
