<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>TEST</title>
    </head>
    <body>
        <ul>
            <% users.forEach(function(user){ %>
                <li><%= user.username %></li>
                <% }); %>
        </ul>
    </body>
</html>
